<div class="container whole">
  <div class="row d-flex justify-content-around">
    <div class="col-3 sidebar d-flex flex-row mb-3">
      <ol class="list-group list-group-numbered align-self-baseline">
        <div class="p-2">
          <h5>STEP 1</h5>
          <li class="list">YOUR INFO</li>
        </div>

        <div class="p-2">
          <h5>STEP 2</h5>
          <li class="list">SELECT PLAN</li>
        </div>

        <div class="p-2">
          <h5>STEP 3</h5>
          <li class="list">ADD-ONS</li>
        </div>

        <div class="p-2">
          <h5>STEP 4</h5>
          <li class="list">SUMMARY</li>
        </div>
        
      </ol>
    </div>
  </div>
</div>
