<div class="col-9 ">
  <div class="main">
    <h3>Personal Info</h3>
    <p>Please provide your name, email address, and phone number.</p>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Name</label>
      <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="e.g. Stephen King">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="e.g. stephenking@example.com">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Phone Number</label>
      <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="e.g. +1 234 567 89 ">
    </div>
    
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button type="button" class="btn btn-primary btn-sm">Next Step</button>
    </div>
  </div>    
</div>
